@let withExercises = withExercises$ | async;

<mat-expansion-panel hideToggle #panel>
  <mat-expansion-panel-header class="expansion-header" [class.expanded]="panel.expanded">
    <mat-panel-title>{{template.name}}</mat-panel-title>
    <div class="flex items-center gap-2">
      <mat-icon class="expansion-arrow" [class.expanded]="panel.expanded">
        expand_more
      </mat-icon>
      <button (click)="handleToExercises($event)"><mat-icon
          class="bg-accent-1 rounded-full text-[1.2rem] w-5 h-5 pt-px">add</mat-icon></button>
    </div>
  </mat-expansion-panel-header>

  @if(withExercises) {
  @for (exercise of withExercises.exercises; track $index) {
  <!-- <app-exercise [exercise]="exercise" [parentId]="template.id" /> -->
  <div class="flex justify-between pr-8 mb-4">
    <p>{{exercise.name}}</p>
    <a [routerLink]="['/template',template.id,'exercise',exercise.id]"><mat-icon>list</mat-icon></a>
  </div>
  }
  }
</mat-expansion-panel>
