<div>
  <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
    <mat-form-field class="block">
      <mat-label>Логин</mat-label>
      <input matInput formControlName="login" type="text" />
    </mat-form-field>
    <mat-form-field class="block">
      <mat-label>Пароль</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>
    <mat-checkbox formControlName="rememberMe" class="example-margin">Запомнить меня</mat-checkbox>
    <button matButton="filled" class="w-full">Войти</button>
  </form>
</div>
