@use '@angular/material' as mat;
@use 'variables';
@use 'sassVariables';
@use 'theme';

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: 0,
    )
  );
}

body {
  height: 100%;
  background: var(--bg-color-light);
}
